.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: #3778c2; */
    background-image: url("../Assets/Images/header.png");
    padding-top: 5px;
    color: white;
}

.header-h2 {
    font-size: 27px;
    margin-left: 10px;
    margin-top: 5px;
    color: white;
    text-decoration: underline;
}

.header-seconddiv {
    display: flex;
    align-items: center;
}

.header-span {
    font-size: 15px;
    color: white;
}

@media(min-width: 768px) {
    .header-firstdiv {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 0px;
    }
}

@media(min-width: 1024px) {
    .header-firstdiv {
        display: flex;
        align-items: center;
        gap: 300px;
    }   
}