.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3778c2;
    padding-top: 5px;
    color: white;
}


.header-img,


.header-h2 {
    font-size: 29px;
    font-family: Lexend, sans-serif;
    margin-left: 0px;
    margin-top: 5px;
    color: white;
}

.header-seconddiv {
    display: flex;
    align-items: center;
}

.header-span {
    font-size: 10px;
}

.header-section {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-right: 10px;
    margin-left: 50px;
}

.filter-container {
    position: relative;
}

.filter-container .material-symbols-outlined {
    left: 10%;
    font-size: 23px;
}

.side-bar ul {
    list-style-type: none;
    gap: 0;
}

.side-bar li {
    margin-bottom: 20px;
    margin-top: 40px;
}

.side-bar li .material-symbols-outlined {
    position: relative;
    left: 40px;
}

@media(min-width: 768px) {
    .header-firstdiv {
        display: flex;
        align-items: center;
    }
}

@media(min-width: 1024px) {
    .header-firstdiv {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 900px;
    }
    
}