.header-seconddiv {
    display: flex;
    align-items: center;
}

.header-listing {
    margin-right: 18px;
    padding: 8px 9px;
    color: blue;
    font-weight: 700;
    font-family: Lexend, sans-serif;
    border-radius: 10px;
    background-color: #fff;
    border: 1px solid black;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.6);
}

.header-user {
    font-family: Lexend, sans-serif;
    font-weight: 700;
    font-size: 20px;
    padding: 8px;
    border-radius: 50%;
    background-color: #fff;
    border: 1px solid black;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
}


.header-section {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-right: 40px;
    margin-left: 65px;
}

.main-content {
    display: flex;
    width: 100%;
    height: 75vh;
    flex-wrap: wrap;
    overflow-y: scroll;
    background-color: whitesmoke;
    /* background-image: url("../Assets/Images/category.png"); */
}

.main-card {
    background-color: #fff;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
    padding: 10px 10px;
    height: 170px;
    margin-top: 20px;
    margin-left: 20px;
    width: 390px;
}

.main-dynamic-object {
    display: flex;
    gap: 10;
    flex-direction: column;
}

.main-dynamic-top-section {
    display: flex;
    justify-content: center;
}

#map-main {
    display: flex;
}

.main-dynamic-top-section img {
    width: 150px;
    height: 150px;
}

.main-dynamic-bottom-section h2 {
    font-family: lexend, sans-serif;
    font-size: 20px;
    margin-top: 14px;
    margin-bottom: 25px;
    font-weight: 400;
    line-height: 30%;
    text-align: left;
}

.main-dynamic-bottom-section p {
    font-family: lexend, sans-serif;
    font-size: 14px;
    margin-bottom: 20px;
    font-weight: 400;
    line-height: 30%;
    text-align: left;
}

.main-dynamic-info p {
    font-family: lexend, sans-serif;
    font-size: 12px;
    margin-bottom: 25px;
    line-height: 30%;
}

.main-dynamic-info {
    display: flex;
    justify-content: space-between;
}

.main-dynamic-bottom-section button {
    width: 50%;
    padding: 9px 9px;
    background-color: #4caf50;
    color: #fff;
    font-size: 16px;
    border-radius: 1px;

}

.display-movies {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    width: 100%;
    background-color: #858c99;
    max-height: 900px;
    overflow-y: auto;
}

.form-container {
    width: 360px;
    
    margin: auto;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    padding: 10px;
}

.category-container {
    width: 400px;
    background-color: ghostwhite;
    margin: auto;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    padding: 10px;
    margin-top: 30px;
    height: 70vh;
}

.display-categories {

}

.category-page {
    background-color: whitesmoke;
}

.register-form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 10px;
}

.success-message {
    font-family: "Roboto", sans-serif;
    background-color: rgb(223, 131, 161);
    padding: 15px;
    color: white;
    text-align: center;
}

.form-field {
    margin: 10px 0 10px 0;
    padding: 15px;
    font-size: 16px;
    border: 0;
    font-family: "Roboto", sans-serif;
}

span {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    margin-bottom: 15px;
}

input {
    background: #f2f2f2;
}

.error {
    border-style: solid;
    border: 2px solid #ffa4a4;
}

button {
    background: #4caf50;
    /* color: white; */
    cursor: pointer;
}

button:disabled {
    cursor: default;
}

.category-button {
    background-color: #4caf50;
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 9px;
    margin-bottom: 10px;
    border: 0;
    color: white;
}
.total-amount {
    display: flex;
    justify-content: end;
    font-size: larger;
    font-weight: 400;
}
.title {
    font-weight: 500;
    font-size: 29px;
    margin-top: 1px;
    margin-bottom: 1px;
    background-color: whitesmoke;
    color: black;
}
.form-label {
    margin-bottom: 1.0em;
}